spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/ozz}
    username: ${DB_USER:root}
    password: ${DB_PW:1308}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect

  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 5MB

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE:http://localhost:8761/eureka}

  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
