server:
  port: ${AUTH_PORT:8100}

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PW}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  jackson:
    time-zone: Asia/Seoul

  security:
    oauth2:
      client:
        registration:
          naver:
            client-id: K1K33QhN8jMwVVpMIbKw
            client-secret: yTFwpt0_aB
            redirect-uri: ${NAVER_REDIRECT_URL:http://localhost:8100/login/oauth2/code/naver}
            authorization-grant-type: authorization_code
            scope: email, profile_image, birthday, birthyear, name, mobile
          kakao:
            client-id: c0033eb7caa88a531ad2b79765bed2c9
            redirect-uri: ${KAKAO_REDIRECT_URL:http://localhost:8100/login/oauth2/code/kakao}
            authorization-grant-type: authorization_code
            scope: account_email, profile_image, birthday, birthyear, name, phone_number
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE:http://localhost:8761/eureka}

jwt:
  secret: ${JWT_SECRET:your-very-very-long-secret-key-that-is-at-least-32-bytes-long}
  expiration: 3600000

redis:
  host: localhost
  port: 6379
